@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1 {
  font-size: xxx-large;
  font-weight: bold;
}

.prose h1, .prose h2 {
  font-size: 1.05rem !important; /* Forces them to be smaller */
  font-weight: 700 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.5em !important;
  line-height: 1.2 !important;
}

h4 {
  font-size:medium;
  color:aquamarine;
}

address{
  font-style: normal;
}

footer{
  position: absolute;
  bottom: 5px;
  font-size: smaller;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

